// Variables

//couleurs qu'on changera pour le projet ;)
$color-primary : white;
//couleur bg header et div formulaire
$color-bg :#333333;
//couleur bg bouton et div qui affiche la recherche (client introuvable ou facture)
$color-bg-btnDiv : #b89370;


//Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
$xl-breakpoint: 1399px;