// Variables

//couleurs police et bg body
$color-primary : white;
$color-secondary: #333333;
//couleur bg div, filters et footer
$color-bgDark:#464646;
$color-bgLight:#d2cfc3;
//couleur bg div, filters et footer
$color-cardRed : #e20614;
$color-cardGreen: #a0c525;
$color-cardOrange: #c94c05;


//Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
$xl-breakpoint: 1399px;